@import url('reset.css');
@import url('colors.css');
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*************************************************
 * Reveal theming styles
 ************************************************/
.reveal .slides {
    margin: 0;
    font-family: "Fira Sans", "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.5;
}
/* customize the slide number */
.reveal .slide-number { 
    font-size: 1.5em;
    color: var(--primary-color);
    background-color: transparent;
    margin-bottom: var(--progressbar-height);
}
.reveal .slide-number a { text-decoration: none; }

/* customize the progress bar */
.reveal .progress {
    background: var(--quaternary-color);
    color: var(--secondary-color);
    height: 0.7%;
}

/* all slides are a vertical flexboxes. Each item is stacked from top to bottom */
.reveal .slides section {
    height: 100%;
    display: flex !important;
    flex-flow: column nowrap;
}

.reveal .slides section a {
    color: var(--link-color);
}

/*************************************************
 * Styles for regular slides
 ************************************************/
 .reveal .slides section {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-top: 5.2em;
    /*border: solid 1px var(--primary-color);*/
 }
.reveal .slides section h1 {
    color: var(--secondary-color);
    font-size: 1.5em;
    position: absolute;
    top: 0.5rem;
    /*left: 0.8rem;*/
}
.reveal .slides section h2 {
    color: var(--secondary-color);
    position: absolute;
    top: 3rem;
    /*left: 0.8rem;*/
}

/*************************************************
 * Styles for title slides
 ************************************************/
.reveal .slides section.title-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}
.reveal .slides section.title-slide .title {
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.reveal .slides section.title-slide .subtitle {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-bottom: 5rem;
}
.reveal .slides section.title-slide .logo img {
    height: 4rem;
    margin: auto;
    margin-top: 1rem;
}

/*************************************************
 * Styles for section slides
 ************************************************/
.reveal .slides section.section-slide {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    justify-content: center !important;
    align-items: flex-start !important;
    padding-top: 0;
}
.reveal .slides section.section-slide .title {
    width: 100%;
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: left;
}
.reveal .slides section.section-slide .title:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    margin-top: 10px;
}

/*************************************************
 * Global styles
 ************************************************/


/* Grid system with flexboxes **************************/
.reveal .slides section .row {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.reveal .slides section .row:before,
.reveal .slides section .row:after {
    content: "";
    display: table;
    clear: both;
}
.reveal .slides .row .col {
    box-sizing: border-box;
    flex: 1 1 auto;
    margin: auto;
}
section .row *[class*='col-'] {
    box-sizing: border-box;
    flex: 0 0 auto;
}
section .row *[class*='col-'].v-center {
    align-self: center;
}

.col-05 { width: 0.5%; }
.col-1 { width: 1%; }
.col-2 { width: 2%; }
.col-3 { width: 3%; }
.col-4 { width: 4%; }
.col-5 { width: 5%; }
.col-6 { width: 6%; }
.col-7 { width: 7%; }
.col-8 { width: 8%; }
.col-9 { width: 9%; }
.col-10 { width: 10%; }
.col-11 { width: 11%; }
.col-12 { width: 12%; }
.col-13 { width: 13%; }
.col-14 { width: 14%; }
.col-15 { width: 15%; }
.col-16 { width: 16%; }
.col-17 { width: 17%; }
.col-18 { width: 18%; }
.col-19 { width: 19%; }
.col-20 { width: 20%; }
.col-21 { width: 21%; }
.col-22 { width: 22%; }
.col-23 { width: 23%; }
.col-24 { width: 24%; }
.col-25 { width: 25%; }
.col-26 { width: 26%; }
.col-27 { width: 27%; }
.col-28 { width: 28%; }
.col-29 { width: 29%; }
.col-30 { width: 30%; }
.col-31 { width: 31%; }
.col-32 { width: 32%; }
.col-33 { width: 33.33%; }
.col-34 { width: 34%; }
.col-35 { width: 35%; }
.col-36 { width: 36%; }
.col-37 { width: 37%; }
.col-38 { width: 38%; }
.col-39 { width: 39%; }
.col-40 { width: 40%; }
.col-41 { width: 41%; }
.col-42 { width: 42%; }
.col-43 { width: 43%; }
.col-44 { width: 44%; }
.col-45 { width: 45%; }
.col-46 { width: 46%; }
.col-47 { width: 47%; }
.col-48 { width: 48%; }
.col-49 { width: 49%; }
.col-50 { width: 50%; }
.col-51 { width: 51%; }
.col-52 { width: 52%; }
.col-53 { width: 53%; }
.col-54 { width: 54%; }
.col-55 { width: 55%; }
.col-56 { width: 56%; }
.col-57 { width: 57%; }
.col-58 { width: 58%; }
.col-59 { width: 59%; }
.col-60 { width: 60%; }
.col-61 { width: 61%; }
.col-62 { width: 62%; }
.col-63 { width: 63%; }
.col-64 { width: 64%; }
.col-65 { width: 65%; }
.col-66 { width: 66.66%; }
.col-67 { width: 67%; }
.col-68 { width: 68%; }
.col-69 { width: 69%; }
.col-70 { width: 70%; }
.col-71 { width: 71%; }
.col-72 { width: 72%; }
.col-73 { width: 73%; }
.col-74 { width: 74%; }
.col-75 { width: 75%; }
.col-76 { width: 76%; }
.col-77 { width: 77%; }
.col-78 { width: 78%; }
.col-79 { width: 79%; }
.col-80 { width: 80%; }
.col-81 { width: 81%; }
.col-82 { width: 82%; }
.col-83 { width: 83%; }
.col-84 { width: 84%; }
.col-85 { width: 85%; }
.col-86 { width: 86%; }
.col-87 { width: 87%; }
.col-88 { width: 88%; }
.col-89 { width: 89%; }
.col-90 { width: 90%; }
.col-91 { width: 91%; }
.col-92 { width: 92%; }
.col-93 { width: 93%; }
.col-94 { width: 94%; }
.col-95 { width: 95%; }
.col-96 { width: 96%; }
.col-97 { width: 97%; }
.col-98 { width: 98%; }
.col-99 { width: 99%; }
.col-100 { width: 100%; }

/* Misc global styles **************************/
p { 
    margin: 0.8rem 0 0.8rem 0 !important;
    text-align: left; 
}
.grey { color: grey; }
.black { color: black; }
.important { color: var(--alert-color); }
.negative { color: var(--danger-color); }
.positive { color: var(--success-color); }
.exponent { vertical-align: super; font-size: 0.6em; }
.subscript { vertical-align: sub; font-size: 0.6em; }

.m-auto { margin: auto !important; }
.m-0 { margin: 0 !important; }
.m-1 { margin: 0.25rem !important; }
.m-2 { margin: 0.5rem !important; }
.m-3 { margin: 1rem !important; }
.m-4 { margin: 1.5rem !important; }
.m-5 { margin: 3rem !important; }
.p-0 { padding: 0 !important; }
.p-1 { padding: 0.25rem !important; }
.p-2 { padding: 0.5rem !important; }
.p-3 { padding: 1rem !important; }
.p-4 { padding: 1.5rem !important; }
.p-5 { padding: 3rem !important; }

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 0.25rem !important; }
.mt-2 { margin-top: 0.5rem !important; }
.mt-3 { margin-top: 1rem !important; }
.mt-4 { margin-top: 1.5rem !important; }
.mt-5 { margin-top: 3rem !important; }
.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 0.25rem !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.mb-3 { margin-bottom: 1rem !important; }
.mb-4 { margin-bottom: 1.5rem !important; }
.mb-5 { margin-bottom: 3rem !important; }

.pt-0 { padding-top: 0 !important; }
.pt-1 { padding-top: 0.25rem !important; }
.pt-2 { padding-top: 0.5rem !important; }
.pt-3 { padding-top: 1rem !important; }
.pt-4 { padding-top: 1.5rem !important; }
.pt-5 { padding-top: 3rem !important; }
.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: 0.25rem !important; }
.pb-2 { padding-bottom: 0.5rem !important; }
.pb-3 { padding-bottom: 1rem !important; }
.pb-4 { padding-bottom: 1.5rem !important; }
.pb-5 { padding-bottom: 3rem !important; }

section .normal { font-size: 1rem !important; }
section .small { font-size: 0.8rem !important; }
section .smaller { font-size: 0.7rem !important; }
section .smallest { font-size: 0.6rem !important; }
section .large { font-size: 1.2rem !important; }
section .larger { font-size: 1.4rem !important; }
section .largest { font-size: 1.6rem !important; }

section .left { text-align: left; }
section .right { text-align: right; }
section .center { text-align: center; }
section .justify { text-align: justify; }

section .strong { font-weight: bold; }
section .em { font-style: italic; }
section .u { text-decoration: underline; }
section .strike { text-decoration: line-through; }
section .tt { font-family: monospace; }
section .sf { font-family: sans-serif; }

em { font-style: italic; }
a {
    color: var(--link-color);
    text-decoration: underline;
}
a:hover {
    color: var(--link-color);
    text-decoration: underline;
}
pre code {
    font-family: "Roboto Mono", monospace;
    font-size: 0.7em;
}
pre code.compact {
    font-size: 0.6em;
}
/*img {
    display: block;
}*/
img.framed {
    border: solid 1px var(--tertiary-color);
}
.w-100 { width: 100%; }
.w-99 { width: 99%; } .w-98 { width: 98%; } .w-97 { width: 97%; } .w-96 { width: 96%; } .w-95 { width: 95%; } .w-94 { width: 94%; } .w-93 { width: 93%; } .w-92 { width: 92%; } .w-91 { width: 91%; } .w-90 { width: 90%; }
.w-89 { width: 89%; } .w-88 { width: 88%; } .w-87 { width: 87%; } .w-86 { width: 86%; } .w-85 { width: 85%; } .w-84 { width: 84%; } .w-83 { width: 83%; } .w-82 { width: 82%; } .w-81 { width: 81%; } .w-80 { width: 80%; }
.w-79 { width: 79%; } .w-78 { width: 78%; } .w-77 { width: 77%; } .w-76 { width: 76%; } .w-75 { width: 75%; } .w-74 { width: 74%; } .w-73 { width: 73%; } .w-72 { width: 72%; } .w-71 { width: 71%; } .w-70 { width: 70%; }
.w-69 { width: 69%; } .w-68 { width: 68%; } .w-67 { width: 67%; } .w-66 { width: 66%; } .w-65 { width: 65%; } .w-64 { width: 64%; } .w-63 { width: 63%; } .w-62 { width: 62%; } .w-61 { width: 61%; } .w-60 { width: 60%; }
.w-59 { width: 59%; } .w-58 { width: 58%; } .w-57 { width: 57%; } .w-56 { width: 56%; } .w-55 { width: 55%; } .w-54 { width: 54%; } .w-53 { width: 53%; } .w-52 { width: 52%; } .w-51 { width: 51%; } .w-50 { width: 50%; }
.w-49 { width: 49%; } .w-48 { width: 48%; } .w-47 { width: 47%; } .w-46 { width: 46%; } .w-45 { width: 45%; } .w-44 { width: 44%; } .w-43 { width: 43%; } .w-42 { width: 42%; } .w-41 { width: 41%; } .w-40 { width: 40%; }
.w-39 { width: 39%; } .w-38 { width: 38%; } .w-37 { width: 37%; } .w-36 { width: 36%; } .w-35 { width: 35%; } .w-34 { width: 34%; } .w-33 { width: 33%; } .w-32 { width: 32%; } .w-31 { width: 31%; } .w-30 { width: 30%; }
.w-29 { width: 29%; } .w-28 { width: 28%; } .w-27 { width: 27%; } .w-26 { width: 26%; } .w-25 { width: 25%; } .w-24 { width: 24%; } .w-23 { width: 23%; } .w-22 { width: 22%; } .w-21 { width: 21%; } .w-20 { width: 20%; }
.w-19 { width: 19%; } .w-18 { width: 18%; } .w-17 { width: 17%; } .w-16 { width: 16%; } .w-15 { width: 15%; } .w-14 { width: 14%; } .w-13 { width: 13%; } .w-12 { width: 12%; } .w-11 { width: 11%; } .w-10 { width: 10%; }
.w-9 { width: 9%; } .w-8 { width: 8%; } .w-7 { width: 7%; } .w-6 { width: 6%; } .w-5 { width: 5%; } .w-4 { width: 4%; } .w-3 { width: 3%; } .w-2 { width: 2%; } .w-1 { width: 1%; } .w-05 { width: 0.5%; }

.h-1em { height: 1em; }
.h-2em { height: 2em; }
.h-3em { height: 3em; }
.h-4em { height: 4em; }
.h-5em { height: 5em; }

.h-100 { height: 100%; } .h-99 { height: 99%; } .h-98 { height: 98%; } .h-97 { height: 97%; } .h-96 { height: 96%; } .h-95 { height: 95%; } .h-94 { height: 94%; } .h-93 { height: 93%; } .h-92 { height: 92%; } .h-91 { height: 91%; }
.h-90 { height: 90%; } .h-89 { height: 89%; } .h-88 { height: 88%; } .h-87 { height: 87%; } .h-86 { height: 86%; } .h-85 { height: 85%; } .h-84 { height: 84%; } .h-83 { height: 83%; } .h-82 { height: 82%; } .h-81 { height: 81%; }
.h-80 { height: 80%; } .h-79 { height: 79%; } .h-78 { height: 78%; } .h-77 { height: 77%; } .h-76 { height: 76%; } .h-75 { height: 75%; } .h-74 { height: 74%; } .h-73 { height: 73%; } .h-72 { height: 72%; } .h-71 { height: 71%; }
.h-70 { height: 70%; } .h-69 { height: 69%; } .h-68 { height: 68%; } .h-67 { height: 67%; } .h-66 { height: 66%; } .h-65 { height: 65%; } .h-64 { height: 64%; } .h-63 { height: 63%; } .h-62 { height: 62%; } .h-61 { height: 61%; }
.h-60 { height: 60%; } .h-59 { height: 59%; } .h-58 { height: 58%; } .h-57 { height: 57%; } .h-56 { height: 56%; } .h-55 { height: 55%; } .h-54 { height: 54%; } .h-53 { height: 53%; } .h-52 { height: 52%; } .h-51 { height: 51%; }
.h-50 { height: 50%; } .h-49 { height: 49%; } .h-48 { height: 48%; } .h-47 { height: 47%; } .h-46 { height: 46%; } .h-45 { height: 45%; } .h-44 { height: 44%; } .h-43 { height: 43%; } .h-42 { height: 42%; } .h-41 { height: 41%; }
.h-40 { height: 40%; } .h-39 { height: 39%; } .h-38 { height: 38%; } .h-37 { height: 37%; } .h-36 { height: 36%; } .h-35 { height: 35%; } .h-34 { height: 34%; } .h-33 { height: 33%; } .h-32 { height: 32%; } .h-31 { height: 31%; }
.h-30 { height: 30%; } .h-29 { height: 29%; } .h-28 { height: 28%; } .h-27 { height: 27%; } .h-26 { height: 26%; } .h-25 { height: 25%; } .h-24 { height: 24%; } .h-23 { height: 23%; } .h-22 { height: 22%; } .h-21 { height: 21%; }
.h-20 { height: 20%; } .h-19 { height: 19%; } .h-18 { height: 18%; } .h-17 { height: 17%; } .h-16 { height: 16%; } .h-15 { height: 15%; } .h-14 { height: 14%; } .h-13 { height: 13%; } .h-12 { height: 12%; } .h-11 { height: 11%; } 
.h-10 { height: 10%; } .h-9 { height: 9%; } .h-8 { height: 8%; } .h-7 { height: 7%; } .h-6 { height: 6%; } .h-5 { height: 5%; } .h-4 { height: 4%; } .h-3 { height: 3%; } .h-2 { height: 2%; } .h-1 { height: 1%; } .h-05 { height: 0.5%; }

figure {
    margin: 0;
}
figcaption {
    font-size: 0.6em;
    color: grey;
    margin-top: 0.3em;
}
figcaption a {
    text-decoration: underline;
}
figure.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
figure.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*********************************************
* lists */
ul, ol, ul > ol {
    text-align: left;
    padding-left: 0.5rem;
    margin: 0 0 0 1rem !important;
}
ul > li::marker {
    font-family: FontAwesome;
    font-size: 0.6rem;
    content: "\f138";
    color: var(--secondary-color);
}
ul > li, ol > li, ul > ol > li {
    padding-left: 0.4rem;
    margin: 0.3rem 0;
}
ul > li { padding-left: 0.8rem;}
ol > li::marker {
    color: var(--primary-color);
    font-weight: bold;
}
ul > li.circle::marker { content: "\f111"; }
ul > li.check-circle::marker { content: "\f058"; }
ul > li.square::marker { content: "\f0c8"; }
ul > li.check-square::marker { content: "\f14a"; }
ul > li.arrow-circle::marker { content: "\f0a9"; }
ul > li.gear::marker { content: "\f013"; }
ul > li.star::marker { content: "\f005"; }
ul > li.caret-right::marker { content: "\f0da"; }
ul > li.play-circle::marker { content: "\f144"; }
ul > li.play::marker { content: "\f04b"; }


/*********************************************
* table */

table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--primary-color);
    font-size: 0.8rem;
    border-collapse: collapse;
}
thead, tbody, tfoot, tr, td, th {
    padding: 0.1rem !important;
    margin: 0 !important;
}
th {
    background-color: var(--quaternary-color);
    text-align: center;
    border: solid 1px var(--primary-color);
    padding: 0.1rem 0.4rem !important;
}

table > tbody {
  vertical-align: inherit;
}
table > thead {
  vertical-align: top;
}


/*********************************************
* box */
div.boxtitle {
    background-color: var(--primary-color);
    color: white;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    padding: 5px 10px;
    margin-left: 0.5rem; 
    margin-right: 0.5rem;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
div.boxcontent {
    background-color: #eaedf1;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    padding: 5px 10px;
    margin-left: 0.5rem; 
    margin-right: 0.5rem;
    margin-top: 0px;
    margin-bottom: 1em;
    text-align: left;
    text-justify: inter-word;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
div.boxcontent ul {
    padding-left: 1.2em;
    margin-bottom: 0.5em;
}
